<library path="src">
  <class name="TeleopPlugin" type="rqt_openstf_teleop.teleop.TeleopPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Teleop plugin
    </description>
    <qtgui>
      <label>Teleop plugin</label>
      <icon type="theme">system-help</icon>
    </qtgui>
  </class>
</library>
